<!DOCTYPE html>
<html lang="en">

<head>
    <%- incude('../layout/head') %>
</head>

<body>
    <header>

    </header>
    <main>
        <div>
            <% searchResults.forEach(item => { %>
                <img src="<%= item.image %>" alt="">
                <ul>
                    <li>
                        <%= item.title %>
                    </li>
                    <li>
                        <%= item.author[0] %>
                    </li>
                    <li>
                        <%= item.description %>
                    </li>
                    <% }) %>
                </ul>
        </div>


    </main>

</body>

</html>s