<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
        <section>
            <div>
                <% searchResults.forEach(item => { %>
                    <img src="<%= item.image %>" alt="">
                    <ul>
                        <li>
                            <%= item.title %>
                        </li>
                        <li>
                            <%= item.author %>
                        </li>
                        <li>
                            <%= item.description %>
                        </li>
                    </ul>
                    <form action="/books" method="post">
                        <input type="hidden" name="_method" value="create">
                        <input type="hidden" name="isbn" value="<%= item.isbn %>">
                        <input type="hidden" name="image_url" value="<%= item.image %>">
                        <input type="hidden" name="title" value="<%= item.title %>">
                        <input type="hidden" name="author" value="<%= item.author %>">
                        <input type="hidden" name="description" value="<%= item.description %>">
                        <span>Add bookshelf</span> <input class="input" type="text" name="bookshelf" value="<%= item.bookshelf %>" required/>
                        <input type="hidden" name="redirect" value="/">
                        <button class="button_link" onsubmit="">Add "<%= item.title %>" To My Collection</button>
                    </form>
                    <% }) %>
            </div>
        </section>

        <section>
            <h2></h2>
            <form>

            </form>

        </section>


    </main>

</body>

</html>s