<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head') %>
</head>

<body>
    <header>

    </header>
    <main>
        <h2>Saved Books</h2>
        <p>
            <%= books.length %> books in the Collection</p>
        <% books.forEach(book => { %>
            <div class="books" data-book-id="<%= book.id %>">
                <%- include('./books/detail', {book: book}) %>
                    <p class="details"><a href="/books/detail.ejs <%= book.id %>">View Details</a></p>
            </div>
            <% }) %>
    </main>
</body>

</html>